body {
	font-family: 'Libre Baskerville', serif;
	color: rgb(0,0,113);
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: 100%;
	padding: 0px;
}


section {
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

h1 {
	font-weight: bold;
	font-size: 36px;
	margin-left: 15px;
	margin-bottom: 0px;
}

h2 {
	font-style: italic;
	font-size: 20px;
	margin-left: 15px;
}

img {
	width: 75%;
	padding-left: 13%;
	padding-top: 5%;
}

#title {
	padding-top: 20px;
	background-color: rgb(255, 255, 99);
	padding-left: 15px;
	padding-bottom: 30px;
	max-width: 100%;
}

#picture {
	background-color: rgb(0, 0, 113);
	padding-right: 15px;
	padding-bottom: 5%;
	color: white;
}

p {
	display: inline-block;
	font-size: 12px;
}

#baking_time {
	padding-left: 25%;
	padding-right: 25%;
}

#ingredients {
	max-width: 100%;
	border-style: dotted;
	border-color: rgb(0,0,113);
	margin-top: 10px;
	box-sizing: border-box;
	margin-left: 10px;
	margin-bottom: 10px;
}

h3 {
	padding-left: 15px;
	margin-bottom: 0px;
	margin-top: 7px;
}

.list {
	padding-left: 15px;
	padding-right: 30px;
}

#one {
	color: white;
	background-color: rgb(0,0,113);
	margin-top: 5px;
	padding-top: 2px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.directions {
	padding-left: 15px;
}

#two {
	background-color: white;
	color: rgb(0,0,113);
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#three {
	background-color: rgb(0,0,113);
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
}

#four {
	background-color: white;
	color: rgb(0,0,113);
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#five {
	background-color: rgb(0,0,113);
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
}