a#btn_airbnb {

font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 32px;
line-height: 1.43;
color: #484848;
text-decoration: none;
border-style: solid;
border-width: 3px;
padding-top: 2px;
padding-left: 9px;
padding-right: 9px;
padding-bottom: 2px;
border-color: #FF5A60;
margin: auto;
margin-top: 100px;
display: inline-block;

}

a#btn_airbnb:hover {
	background-color: #FF5A60;
	color: white;
}

a#btn_delta {
	font-family: 'Roboto', sans-serif; 
	text-decoration: none;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 8px;
	background-color: #C01933;
	display: inline-block;
	color: white;
	border-width: 2px;
	border-style: solid;
	padding: 20px;
	text-align: center;
	padding-left: 10px;
	padding-right: 5px;
	margin: auto;
	margin-top: 85px;
	box-sizing: border-box;
	border-radius: 6px;
	
}

a#btn_delta:hover {
	background-color: #003366;

}

a#btn_doc {
	background-color: #ffe634;
	color: #24272a;
	text-decoration: none;
	font-family: "Helvetica", arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	border-radius: 10px;
	margin: auto;
	margin-top: 95px;
	display: inline-block;

}

a#btn_doc:hover {
	background-color: #24272a;
	color: #ffe634;
}

a#btn_groupme {
	color: #656e75;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration: none;
	font-size: 40px;
	margin-top: 100px;
	display: inline-block;
}

#one {
	margin: none;
	padding: none;
	display: inline;
	border: none;
}

#two {
	color: #00acf2 ;
	margin: none;
	display: inline;
}

a#btn_groupme:hover {
	border-style: solid;
	background-color: white;
	border-color: #00acf2;
	border-radius: 10px;
	padding-bottom: 15px;
	padding-right: 12px;
	padding-left: 12px;
}

a#btn_nyt {
	font-family: 'Libre Franklin', sans-serif;
	text-decoration: none;
	color: #121212;
	font-size: 20px;
	display: inline-block;
	margin-top: 80px;
}

img {
	width: 50px;
	display: inline-block;
	vertical-align: center;
	margin: none;
}

a#btn_nyt:hover {
	background-color: #6288a5;
	border-color: #326891;
	border-style: solid;
	border-width: 1.5px;
	padding-top: 2px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;

}

a#btn_broadway {
	background-color: #222;
	color: white;
	border-style: solid;
	border-color: #cc2c2c;
	text-decoration: none;
	font-family: "Helvetica";
	padding: 15px;
	margin-top: 95px;
	display: inline-block;
	font-size: 25px;
}

a#btn_broadway:hover {
	background-color: #111;
}

a#btn_fandango {
	color: #4AA7F6;
	padding: 15px;
	text-decoration: none;
	background-color: #4C4C4C;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 25px;
	font-weight: bolder;
	border-style: solid;
	border-color: #FE7900;
	border-radius: 10px;
	letter-spacing: 2px;
	display: inline-block;
	margin-top: 90px;
 }

 a#btn_target {
 	color: #E80018;
 	background-color: white;
 	text-decoration: none;
 	font-family: Helvetica, Aria, sans-serif;
 	font-weight: bold;
 	font-size: 45px;
 	display: inline-block;
 	margin-top: 100px;
 }

a#btn_target:hover {
	border-style: dotted;
	border-color: #E80018;
	padding: 10px;
	margin-top: 90px;
}
 a#btn_fandango:hover {
 	background-color: #FE7900;
 }

 a#moma {
 	font-family: "Helvetica", Arial, sans-serif;
 	text-decoration: none;
 	font-weight: bold;
 	color: #000;
 	font-size: 42px;
 	display: inline-block;
 	margin-top: 100px;

 }

 a#moma:hover {
 	color: #00cfb5;
 }

 a#btn_met {
 	background-color: #e4002b;
 	color: white;
 	text-decoration: none;
 	padding: 30px;
 	font-family: "Georgia", serif;
 	font-size: 25px;
 	margin-top: 75px;
 	display: inline-block;
 }

 a#btn_met:hover {
 	background-color: white;
 	color: #e4002b;
 	border-style: solid;
 	border-color: #e4002b;
 	padding: 30px;
 }

 a#btn_caribou {
 	background-color: white;
 	color: #2f1d0e;
 	font-family: Arial, Helvetica, sans-serif;
 	text-decoration: none;
 	letter-spacing: 2px;
 	border-style: dashed;
 	border-color: #356d79;
 	padding: 15px;
 	font-weight: bold;
 	display: inline-block;
 	margin-top: 100px;

 }

 a#btn_caribou:hover {
 	padding: 25px;
 	margin-top: 75px;
 }

 a#btn_lincoln {
 	text-decoration: none;
 	color: white;
 	background-color: #191919;
 	padding: 9px;
 	font-family: helvetica neue,arial,helvetica,sans-serif;
 	font-size: 2rem;
 	letter-spacing: 1.1px;
 	font-weight: normal;
 	border-style: solid;
 	border-color: #fc4d1a;
 	display: inline-block;
 	margin-top: 90px;

 }

 a#btn_lincoln:hover {
 	border-width: 8px;
 }

 a#btn_wells {
 	color: #FFCB17;
 	background-color: #bb0826;
 	text-decoration: none;
 	font-family: 'Merriweather', serif;
 	font-size: 30px;
 	padding: 15px;
 	display: inline-block;
 	margin-top: 90px;

 }

 a#btn_wells:hover {
 	color: #bb0826;
 	background-color: #FFCB17;
 }

 a#btn_sbux {
 	font-family: 'Lato', sans-serif;
 	text-decoration: none;
 	text-transform: uppercase;
 	letter-spacing: 1.3px;
 	color: #3d3a35;
 	border-style: solid;
 	border-color: #006341;
 	border-radius: 12px;
 	padding: 15px;
 	margin-top: 100px;
 	display: inline-block;
 }

 a#btn_sbux:hover {
 	background-color: #999;
 }

 a#btn_blueprint {
 	color: white;
 	background-color: #007da4;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 	font-weight: lighter;
 	text-decoration: none;
 	font-size: 33px;
 	padding: 10px;
 	display: inline-block;
 	margin-top: 90px;
 }

 a#btn_blueprint:hover {
 	color: #007da4;
 	background-color: white;
 	border-style: solid;
 	border-color: #007da4;
 }

 a#btn_duolingo {
 	text-decoration: none;
 	color: white;
 	background-color: #1493d1;
 	font-family: 'Varela Round', sans-serif;
 	font-size: 30px;
 	padding: 12px;
 	border-radius: 9px;
 	display: inline-block;
 	margin-top: 90px;
 }

 a#btn_duolingo:hover {
 	color: #1493d1;
 	background-color: white;
 	border-style: solid;
 	border-color: #1493d1;
 }

 a#btn_top {
 	color: black;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 	letter-spacing: 10px;
 	font-weight: bold;
 	font-size: 25px;
 	text-decoration: none;
 	display: inline-block;
 	margin-top: 100px;
 }

 a#btn_top:hover {
 	color: #666;
 }

 a#btn_netflix {
 	text-decoration: none;
 	color: red;
 	background-color: black;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 	font-weight: bold;
 	letter-spacing: 3px;
 	font-size: 40px;
 	padding: 10px;
 	display: inline-block;
 	margin-top: 90px;
 }

a#btn_netflix:hover {
	background-color: #666;
}

a#btn_hay {
	text-decoration: none;
	color: black;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 	font-size: 45px;
 	font-weight: bolder;
 	display: inline-block;
 	margin-top: 100px;
}

a#btn_hay:hover {
	border-style: solid;
	border-color: black;
	padding: 10px;
	margin-top: 90px;
}

a#btn_elm {
	text-decoration: underline;
	display: inline-block;
	margin-top: 100px;
	font-family: 'Nanum Gothic', sans-serif;
	color: #363636;
	font-size: 40px;
}

a#btn_elm:hover {
	color: #006167;
}

a#btn_wnyc {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 5px;
	font-size: 35px;
	font-weight: lighter;
	margin-top: 90px;
	display: inline-block;
}

#nyc {
	font-weight: bold;
	font-size: 40px;
}

a#btn_wnyc:hover {
	background-color: #333;
}

a#btn_wholefoods {
	background-color: #00674b;
	color: white;
	font-family: 'Sorts Mill Goudy', serif;
	text-decoration: none;
	font-size: 35px;
	padding: 15px;
	border-radius: 3px;
	margin-top: 80px;
	display: inline-block;
}

a#btn_wholefoods:hover {
	background-color: white;
	border-style: solid;
	border-color: #00674b;
	color: #00674b;
}

a#btn_ideo {
	text-decoration: underline;
	text-decoration-color: #fcf113;
	color: black;
	font-family: "Georgia", serif;
	font-size: 50px;
	letter-spacing: 2px;
	display: inline-block;
	margin-top: 90px;
}

a#btn_ideo:hover {
	color: #666;
}

a#btn_etsy {
	text-decoration: none;
	color: white;
	background-color: #eb6d20;
	font-family: 'Times New Roman', serif;
	font-size: 40px;
	padding: 20px;
	letter-spacing: 1.5px;
	border-radius: 8px;
	display: inline-block;
	margin-top: 90px;
}

a#btn_etsy:hover {
	background-color: white;
	border-style: solid;
	border-color: #eb6d20;
	color: #eb6d20;
}

a#btn_guthrie {
	font-family: 'Nanum Gothic', sans-serif;
	color: #2c406d;
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
	border-style: solid;
	border-color: #2c406d;
	padding: 15px;
	display: inline-block;
	margin-top: 95px;
}

a#btn_guthrie:hover {
	text-decoration: underline;
}