body {
	background-image: url(https://media1.popsugar-assets.com/files/thumbor/JTZe5EN2p3zfRWaSZcLeyIfEX1k/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2017/04/21/673/n/1922283/6faf637bfa956d76_1.jpg);
	color: white;
	font-family: "Poppins", sans-serif;
}

.head {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 42px;
}

.song {
	text-transform: uppercase;
	font-weight: bold;
}

#credits {
	text-transform: uppercase;
	font-size: 36px;

}

#evan {
	font-family: 'Indie Flower', cursive;
	font-size: 18px; 

}

.chorus {
	font-style: italic;
}

h1 {
	font-size: 42px;
}

#intro {
	line-height: 10px;
}