body{
	background-color: lightblue; 
	font-family: "Georgia";
	text-align: center;


}
image {
	size: 20ce

}

h1 {
	color: rgb(48, 201, 255);
}

p {
	color: black;
}

h2 {
	color: white;
}

.head {
	color: navy;
}

h4 {
	color: black;
}